<form>
    <h1 class="h1_font_family">Cálculo da média</h1>
    <div>
        <label class="bim_font_family" for="b1">Bim 1</label>
        <input class="input_border" id="b1" name="b1" type="number" #b1>
    </div>
    <div>
        <label class="bim_font_family"  for="b2">Bim 2</label>
        <input class="input_border" id="b2" name="b2" type="number" #b2>
    </div>
    <div>
        <label class="bim_font_family" for="b3">Bim 3</label>
        <input class="input_border" id="b3" name="b3" type="number" #b3>
    </div>
    <div>
        <label class="bim_font_family"  for="b4">Bim 4</label>
        <input class="input_border" id="b4" name="b4" type="number" #b4>
    </div>
    <div>
        <input class="buttons" type="button" value="Calcular Média Parcial" (click)="calcular_media_parcial(+b1.value, 
                                       +b2.value,
                                       +b3.value,
                                       +b4.value)">
    </div>

</form>
<div *ngIf="mediaParcial">
    <p class="bim_font_family" id="mediaParcial">Média = {{mediaParcial}}</p>
</div>

<div *ngIf="mediaParcial && mediaParcial<60">
    <form>
        <div>
            <label class="bim_font_family" for="naf">Nota da avaliação final</label>
            <input class="input_border" id="naf" name="naf" type="number" #naf>
        </div>
        <input class="buttons" type="button" value="Calcular Média Final"(click)="calcular_media_final(+naf.value)">
    </form>
</div>
<div *ngIf="mediaFinal">
    <p class="bim_font_family" id="mediaFinal">Média Final = {{mediaFinal}}</p>
</div>
